/*--- General---*/

body,html{
  margin:0;
  padding:0;
  background-color: lightgray;
  font-family: 'Ubuntu', sans-serif;
  src:url(Fonts/Ubuntu/Ubuntu-Regular);
  color: #333;
}

/* ---Colors---
#1C863C Grün
#DC1A7B Magenta     */

/*--- Header Section ---*/
.leistemax{
  width:100%;
  background-color: #222;
}

.leiste{
  width: 100%;
  max-width: 1000px;
  height: 90px;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 auto;
  background-color: inherit;
  display: flex;
}

.logo{
  height: 100%;
}

.leiste h1{
  margin: auto;
  color: #FFFFFF;
}

.gradient{
  height:16px;
  width:100%;
  background-image: linear-gradient( rgba(100,100,100,0.5), rgba(100,100,100,0));

}


/*--- Body Section ---*/

.buttonwrap{
  text-align: center;
  vertical-align: middle;
  margin: 30px 0 0;
}

.icons{
  margin: auto 20px auto;
  height: 50px;
  width: 50px;
}

.content{
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-width: 600px;
  height: 100vh;
  max-height: 500px;
  background-color: white;
  margin: 24px auto 50px;
}

.left, .right{
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.content img{
  object-fit: cover;
  width: 100%;
  transition: 1s ease;
  opacity: 0.5;
}

.text {
  position: absolute;
  bottom: 8px;
  left: 16px;
  right: 16px;
  z-index: 100;
  background-color: rgba(255,255,255,0.8);
  padding: 0 15px;
  opacity: 0;
  word-wrap:break-word;
  font-size: 1em;
}
.uberuns{
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  padding: 20px;
  font-size: 2em;
}

.uberuns h1{
text-align: center;
}

.wahl{
  font-size: 3em;
  margin:  80px auto 0;
  text-align: center;
  color: #333;
}

#body h2{
  margin-bottom: 0px;
}

#body p{
  margin-top: 6px;
}

/* ---app--- */
.appvor{
  background-color: #EEE;
  margin: auto;
  margin-top: 25px;
  max-width: 1000px;
  width: 100%;
}

.applogo{
  height: 100px;
  width:100px;
  margin: 20px;
}

.applogo img{
  height: 100%;
  padding: 10px;
}

.apptext{
  margin: 20px;
  padding: 10px;
}

/* ---footer--- */

.footer{
  text-align: center;
  padding: 10px 10px 30px;
  margin: 0px 0 0;
  background-color: #EEE;
}

/* ANIMATIONS */

.left:hover img, .right:hover img{
  transform: scale(1.1);
  opacity: 1;
}

.left:hover .text, .right:hover .text{
  opacity: 1;
  transition: 0.5s ease;
}

.icons:hover{
  transform: scale(1.1);
}


/* ---sections--- */

#apps-essen, #apps-auto, #apps-kleidung{
  display:none;
}
