/*--- General---*/

body,html{
  margin:0;
  padding:0;
  background-color: #D3D3D3;
  font-family: 'Ubuntu', sans-serif;
  src:url(Fonts/Ubuntu/Ubuntu-Regular);
  color: #222;
}

/* ---Colors---
#1C863C Grün
#DC1A7B Magenta     */

/*--- Header Section ---*/
.leistemax{
  width:100%;
  background-color: #222;
}

.leiste{
  width: 100%;
  max-width: 1000px;
  height: 90px;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 auto;
  background-color: inherit;
  display: flex;
}

.logo{
  height: 100%;
}

.leiste h1{
  margin: auto;
  color: #FFFFFF;
}

.gradient{
  height:16px;
  width:100%;
  background-image: linear-gradient( rgba(100,100,100,0.5), rgba(100,100,100,0));

}


/*--- Body Section ---*/

#intro{

}

.buttonwrap{
  text-align: center;
  vertical-align: middle;
  margin: 30px 0 0;
}

.icons{
  margin: auto 20px auto;
  height: 80px;
  width: 80px;
  transition: 0.1s ease;
}

.content{
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: 100vh;
  max-height: 500px;
  background-color: white;
  margin: 24px auto 50px;
  box-shadow: 0px 2px rgba(0,0,0,0.2);
}

.left, .right{
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.content img{
  object-fit: cover;
  width: 100%;
  transition: 1s ease;
  opacity: 0.5;
}

.text {
  position: absolute;
  bottom: 8px;
  left: 16px;
  right: 16px;
  z-index: 100;
  background-color: rgba(255,255,255,0.8);
  padding: 0 15px;
  opacity: 0;
  word-wrap:break-word;
  font-size: 1em;
}


.uberuns{
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  padding: 20px;
  font-size: 2em;
  box-sizing: border-box;


}

.teasertext{
  /* background-color: #F0F0F0; */
  /* padding: 20px 40px; */
  /* border-radius: 20px;
  box-shadow: 0px 2px rgba(0,0,0,0.2); */
  box-sizing: border-box;

}

.uberuns h1{
text-align: center;
font-size: 1em;
}

.uberuns p{
  max-width: 1000px;
  text-align: justify;
  font-size: 0.7em;
}

.teaserpic{
  width: 20px;
}

.border{
  border: 10px solid;
  border-width: 30px;
  padding: 0px;
  -webkit-border-image: url(border2.png) 30 round; /* Safari 3.1-5 */
  -o-border-image: url(border2.png) 30 round; /* Opera 11-12.1 */
  border-image-source: url(../img/border.png);
  border-image-slice: 33.4% stretch;
  border-image-outset: 0px;

}

.wahl{
  font-size: 3em;
  margin:  80px auto 0;
  text-align: center;
  color: #333;
}

#body h2{
  margin-bottom: 0px;
}

#body p{
  margin-top: 6px;
}

/* ---app--- */
.appvor{
  background-color: #F0F0F0;
  margin: auto;
  margin-top: 25px;
  max-width: 800px;
  width: 100%;
  box-shadow: 0px 2px rgba(0,0,0,0.2);
}

.applogo{
  height: 100px;
  width:100px;
  margin: 20px;
}

.applogo img{
  height: 100%;
  padding: 20px 10px 10px;
}

.apptext{
  margin: 20px;
  padding: 10px;
}

.apptext p:nth-child(2)::before{
  content: "Konzept: ";
  font-size: 1.1em;
  font-weight: bold;
}

.apptext p:nth-child(3)::before{
  content: "Vorteil: ";
  font-size: 1.1em;
  font-weight: bold;
}
/* ---footer--- */

.footer{
  text-align: center;
  padding: 10px 10px 30px;
  margin: 0px 0 0;
  background-color: #F0F0F0;
}

.footer img{
  height:60px;
}

/* ANIMATIONS */

.left:hover img, .right:hover img{
  transform: scale(1.1);
  opacity: 1;
}

.left:hover .text, .right:hover .text{
  opacity: 1;
  transition: 0.5s ease;
}

.icons:hover{
  transform: scale(1.1);
  cursor: pointer;
}


/* ---sections--- */

#apps-essen, #apps-auto, #apps-kleidung{
  display:none;
}
